<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AkiraDb" connectionString="U2VydmVyPTEyNy4wLjAuMTtEYXRhYmFzZT1Ba2lyYURCO1VzZXIgSWQ9QWtpcmFEaXNjQm90O1Bhc3N3b3JkPUFraXJhQm90Ow=="/>
  </connectionStrings>
  <appSettings>
    
    <!-- Staff Permission Configuration -->
    <add key="PerferIdOverNames" value="false"/>

    <!-- Look in README.txt-->
    <add key="AkiraStaffMapping" value="owner:744300508952526949\*;"/>

    <add key="SendMessageToUserWhenKicked" value="false"/>
    <add key="PermenantInviteLink" value=""/>
    
  </appSettings>
</configuration>